/* Body
---------------------------------------------------------*/
body 
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    font-weight: 300;
}

@font-face {
    font-family: Avenir Next;
    src: url(css/Avenir Next.ttc);
}

/* Navigatie
---------------------------------------------------------*/
nav
{
    width: 100%;
    height: 3.6em;
    background-color: #2b2b2b;
    overflow: hidden;
}

nav h1
{
    float: left;
  margin-left: 5%;
  color: #fff;
  font-size: 1.5em;
  margin-top: 0.28em;
  line-height: 20px;
}

.logo{
      text-decoration: none;
      color: #fff;
      font-family: 'Avenir Next', sans-serif;
      font-weight: 300;
}

nav ul
{
    margin-top: 1.9em;
  list-style: none;
  font-size: 0.8em;
  float: right;
  text-transform: uppercase;
  margin-right: 5%;
}

nav ul li 
{
    display: inline-block;
    cursor: pointer;
    margin-left: 2em;
}

nav ul li a 
{
    text-decoration: none;
    color: #fff;
    font-size: 0.875em;
    padding-bottom: 1.5em;
}

.current {
    border-bottom: 4px solid #E6007E;
}


/* Search & Upload
---------------------------------------------------------*/
.search
{
    width: 100%;
    height: 3.175em;
    line-height: 3em;
    margin-top: 1em;
}

.searchbar{
    display: inline-block;
    float: right;
}

.searchfield, .classbutton{
    padding: 0.3em 1em;
    border-radius: 3em;
    font-size: 0.75em;
    border: 1px solid #a1a1a1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300; 
    transition: 0.4s;
}

    .searchfield::-webkit-input-placeholder { /* WebKit browsers */
    }

    .searchfield:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    }
    .searchfield::-moz-placeholder { /* Mozilla Firefox 19+ */
    }
    .searchfield:-ms-input-placeholder { /* Internet Explorer 10+ */
    }


input[type="text"]:hover{
    border: 1px solid #000;
    transition: 0.4s;
}

.classbutton {
    background-color: transparent;
    transition: 0.4s;
    border: 1px solid #a1a1a1;
    color: #a1a1a1;
}

.classbutton:hover {
    cursor: pointer;
    color: #fff;
    background-color: #2b2b2b;
    border: 1px solid #2b2b2b;
    transition: 0.4s;
}

.searchbutton{
    height: 40%;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5%;
    margin-left: 0.5%;
}

.searchbutton circle, .searchbutton line {
    fill: none;
    stroke: #a1a1a1;
    stroke-width: 3;
    transition: 0.4s;
}

.searchbutton:hover circle, .searchbutton:hover line {
    stroke: #000;
    transition: 0.4s;
}

/*
.uploadbutton {
    padding: 1em 2.5em 1em 2.5em;
    text-decoration: none;
    margin-left: 5%;
    color: #FF00FF;
    font-size: 0.75em;
    transition: 0.4s;
    border: 1px solid #FF00FF;
}

.uploadbutton:hover {
    background-color: #FF00FF;
    color: #fff;
    transition: 0.4s;
}
*/
.uploadbutton {
    padding: 0.3em 1em;
    text-decoration: none;
    margin-left: 5%;
    border-radius: 3em;
    color: #2b2b2b;
    font-size: 0.75em;
    transition: 0.4s;
    border: 1px solid #2b2b2b;
}

.uploadbutton:hover {
    background-color: #2b2b2b;
    color: #fff;
    transition: 0.4s;
}

input[type="text"]:focus{   
    border-color: #000;
    outline: 0 none;
}



/* Gallery
---------------------------------------------------------*/
.galleryitem
{
    width: 26.66%;
/*  background-color: #2b2b2b;*/
    margin-top: 3em;
    margin-left: 5%;
    float: left;
}

.description{
    height: 2em;
    padding: 0 5%;
    background-color: #2b2b2b;
}

.description h1 {
    line-height: 2em;
    text-align: center;
    color: #fff;
    display: inline-block;
    height: 2em;
    /*line-height: 1.8750em;*/
    font-weight: 500;
    margin-left: 3%;
    color: white;
    font-size: 1em; 
}

.portfoliothumb
{
    width: 100%;
}

.hearticon {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 1.5em;
}

.hearticon path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 3;
    transition: 0.4s;
    cursor: pointer;
}

.hearticon:hover path {
    fill: #fff;
    cursor: pointer;
    transition: 0.4s;
}

.aantal{
    display: inline-block;
    float: right;
    position: relative;
    color: #fff;
    font-size: 14px;
    margin-right: 0.3em;
    top: 50%;
    transform: translateY(-50%);
}

/* Over het Buro & het Event
---------------------------------------------------------*/

.about_description{
    width:720px;
    margin: auto;
    margin-top: 2em;
}
.about_description h2{
    font-weight: 800;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}
.about_description h3{
      font-weight: 800;
  margin: 2em 0 2em 0;
  width: 80%;
  padding: 2.5% 10% 2.5% 10%;
  text-align: center;
  font-size: 1em;
  color: white;
  border-top: 10px solid #2a2a2a;
  background-color: rgba(228,19,126,1);
}

.about_description p{
    width:45%;
    margin-left:10%;
    float: left;
}
.about_description p:nth-child(odd){
    margin-left: 0;
}