@charset "utf-8";
/* CSS Document */


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.contact {
		width: 250px;
	}

	.contact_informatie {
		width: 250px;
		float: left;
	}

	.contact_formulier {
		width: 250px;
		float: left;
	}

		.contact_formulier input, .contact_formulier textarea, .contact_formulier form {
			width: 218px;
		}

	.about_description {
		width: 300px;
	}

		.about_description p {
		    width: 100%;
		    margin-left: 0;
		    float: left;
		}

			.secondalinea {
				margin-top: 10px;
			}
}

@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
	.contact {
		width: 400px;
	}

	.contact_informatie {
		width: 400px;
	}

	.contact_formulier {
		width: 400px;
	}

		.contact_formulier input, .contact_formulier textarea, .contact_formulier form {
			width: 368px;
		}

	.about_description {
		width: 450px;
	}

		.about_description p {
		    width: 100%;
		    margin-left: 0;
		    float: left;
		}

			.secondalinea {
				margin-top: 10px;
			}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.contact {
		width: 600px;
	}

	.contact_informatie {
		width: 200px;
	}

	.contact_formulier {
		width: 400px;
	}

		.contact_formulier input, .contact_formulier textarea, .contact_formulier form {
			width: 368px;
		}

	.about_description {
		width: 600px;
	}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}





