@charset "utf-8";
/* CSS Document */


@media only screen and (max-width : 480px) {


	nav ul li
	{
		margin-left: 0.5em;
	}

	nav ul li a 
	{
		font-size: 0.650em;
	}

	.contact {
		width: 300px;
	}

	.contact_informatie {
		width: 300px;
		float: left;
	}

	.contact_formulier {
		width: 300px;
		float: left;
	}

		.contact_formulier input, .contact_formulier textarea {
			width: 268px;
		}
}

@media only screen and (max-width : 768px) {

	.galleryitem
	{
		width: 42.5%;
	}

	.contact {
		width: 400px;
	}

	.contact_informatie {
		width: 400px;
	}

	.contact_formulier {
		width: 400px;
	}

		.contact_formulier input, .contact_formulier textarea {
			width: 368px;
		}
}

@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {
	.contact {
		width: 600px;
	}

	.contact_informatie {
		width: 200px;
	}

	.contact_formulier {
		width: 400px;
	}

		.contact_formulier input, .contact_formulier textarea {
			width: 368px;
		}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

