@charset "utf-8";
/* CSS Document */


@media only screen and (max-width : 520px) {

	nav ul
	{
	    float: left;
	    margin-right: 5%;
	}
    
    .menumain{
        display: none;
    }

	.hamburger{
	  background:none;
	  position:absolute;
	  top:0;
	  right:0;
      display: block;
	  line-height:2.5em;
	  padding:0px 15px 0px 15px;
	  color:#fff;
	  border:0;
	  font-size:1.4em;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	  z-index:10000000000000;
	}
	.cross{
	  background:none;
	  position:absolute;
	  top:0px;
	  right:0;
	  padding:0px 15px 0px 15px;
	  color:#fff;
	  border:0;
	  font-size:3em;
	  line-height:65px;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	  z-index:10000000000000;
	}
	.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#2b2b2b;  position:absolute; text-align:left;}
	.menu ul {margin-left:5%; margin-top: 0px; padding: 0; list-style-type: none; list-style-image: none;}
	.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#fff 1px solid;}
	.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
	.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
	.menu ul li a:hover {  color: #fff; text-decoration:none;}
	.menu a{text-decoration:none; color:white;}
	.menu a:hover{text-decoration:none; color:white;}

	.glyphicon-home{
	  color:white; 
	  font-size:1.5em; 
	  margin-top:5px; 
	  margin:0 auto;
	}

	.current {
	    border-bottom: none;
	}
    
    .search{
        height: 6.35em;
    }
    
    .searchbar{
        display: block;
        float: none;
        margin-left: 5%;
    }

    .memberarea form{
        width: 100%;   
    }
    
	.contact {
		width: 300px;
	}

	.contact_informatie {
		width: 300px;
		float: left;
	}

	.contact_formulier {
		width: 300px;
		float: left;
	}

    .contact_formulier input, .contact_formulier textarea {
        width: 268px;
    }


	.about_description {
		width: 100%;
	}

	.about_description h3 {
		width: 80%;
		padding: 5% 0 1% 20%;
	}

	.about_description p {
		width: 100%;
		margin-left: 0;
	}
}

@media only screen and (min-width : 521px) and (max-width : 768px) {

    .search{
       background-color: red;   
    }
    
	.hamburger, .cross
	{
		display: none ;
	}
    
    .memberarea form{
        width: 100%;   
    }

	.contact {
		width: 400px;
	}

	.contact_informatie {
		width: 400px;
	}

	.contact_formulier {
		width: 400px;
	}

		.contact_formulier input, .contact_formulier textarea {
			width: 368px;
		}

	.about_description h3 {
		width: 80%;
		padding: 5% 0 1% 20%;
	}

	.about_description p {
		width: 100%;
		margin-left: 0;
	}
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
	
	.hamburger, .cross
	{
		display: none ;
	}

	.galleryitem
	{
		width: 42.5%;
	}

	.contact {
		width: 600px;
	}

	.contact_informatie {
		width: 200px;
	}

	.contact_formulier {
		width: 400px;
	}

		.contact_formulier input, .contact_formulier textarea {
			width: 368px;
		}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) and (max-width : 1224px) {
/* Styles */
	.hamburger, .cross
	{
		display: none ;
	}

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px){
/* Styles */
	.hamburger, .cross
	{
		display: none ;
	}
}


